body{
    background-color: hsl(233, 47%, 7%);
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.maindiv{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin:20% 5% ; 
    padding-bottom: 25px;
    text-align: center;
}
img{
    background-color: hsl(277, 64%, 61%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}
span{
    color: hsl(277, 64%, 61%);
}
.heading{
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
}
.subhead{
    color:  hsla(0, 0%, 100%, 0.9);
    margin: 5px;
    margin-top: 30px;
}
.para{
    font-family: 'Inter', sans-serif;
    padding: 0 25px;
    line-height: 1.5;
    margin-bottom: 40px;
}
p{
    color: hsla(0, 0%, 100%, 0.7);
    margin: 0;
}
.subdiv{
    margin: 25px;
}
@media only screen and (min-width:1440px){
    img{
        
        position: relative;
        float: right;
        width: 50%;
        height: auto;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
    }
    .maindiv{
        text-align: left;
        margin: 15%;
    }  
    .subdiv{
        display: inline-block;
        margin: 15px 10px 9.5px 45px;

    }
    .heading{
        padding: 5% 60% 0 5%;
    }
    .para{
        padding: 0 60% 0 5%;
        margin-bottom: 30px;
    }

}
